@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');



body{
    background-color: #f3e4be;
    font-family: 'Inknut Antiqua', serif;
}
nav{
background-color:lightgreen;
padding:15px;
position:fixed;

}

nav a{
    color: white;
    margin:15px;
}
nav a:hover{
    color:white;
    text-decoration:none;

}
nav a:first-child{
    font-size: 1.5em;
}
nav :first-child img{
    width: 40px;
}
.banner{
    background-image: url(banner.jpg);
    background-position: center center;
    background-size:cover;
    height:400px;
}
h1{
    font-family: 'inknut antiqua', serif;
    color:green;
    text-align: center;
}
.kave{
    color:green;
    background-color: #fff;
    border: 1px solid green;
    border-radius: 4px;
    margin-bottom: 1rem;

}
.kave:hover{
    box-shadow: 0px 0px 5px green;
}
.kave h2{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}
.sutik{
    color:green;
    background-color: #fff;
    border: 1px solid green;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.sutik:hover{
    box-shadow: 0px 0px 5px green;
}
.sutik h2{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}
